*{
	margin: 0;
}

body{
	background-color: aquamarine;
}
.eyes {
	height: 1000px;
	background-color: salmon;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.item1{
	width: 100px;
	height:100px;
	background-color: seagreen;
}
.item2{
	width: 50px;
	height:50px;
	background-color: skyblue;
}
.item3{
	width: 150px;
	height:150px;
	background-color: lightgray;
}